body
{
    background-color:rgb(255, 255, 255);
    text-align: center;
    
}
#div1
{
    width: 35%;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border: 0px solid;
    background-color: rgb(255, 255, 255);
    position: relative; right: -25px;
    transform: translateY(300px);
    
    
}

#div2
{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border: 1px solid #cccccc;
    background-color:white;
    text-align: center;
    
}
.div3menu{
    background-image: url(fondomenu.jpg);
}
.divconap{
    
    width: 50%;
}
.biemenu{
    color: white;
}

#div3
{
    background-color: rgb(245, 245, 245);
    font-size: 21px;
    padding: 5;
    border-width: thin;
    border: 1px;
    text-align: center;  
}
.div3regi{
    background-image: url(fondodeinicio.jpg);
}

.lgris
{
    color: rgb(0, 0, 0);
}
.regil{
    color: white;
    font-size: 20px;
}

.btn1
{
    background-color: rgb(248, 238, 238);
    color: rgb(233, 83, 83);
    font-size: 15px;
    font-weight: bold;
    width: 40%;
}

#divconsulta
{
    width: 60%;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border: 0px solid;
    background-color: rgb(255, 255, 255);
    
}
#div2consulbor
{
    background-color: rgb(245, 245, 245);
    font-size: 21px;
    padding: 5;
    border-width: thin;
    border: 1px solid #cccccc;
    text-align: center;
    
}

#divconsulta2
{
    background-color: rgb(245, 245, 245);
    font-size: 21px;
    padding: 5;
    border-width: thin;
    border: 1px solid #cccccc;
    text-align: center;
}

